




<div  class="teste">

    <div *ngIf="ingressos.length > 0; else semIngressos" >
        <h1>Meus ingressos</h1>

      <div class="container">
          <div *ngFor="let ingresso of ingressos">
            <div class="card">
                <p>
                  <span class="banda">{{ ingresso.nome }} </span>
                  <strong>{{ ingresso.data }}</strong>
          
                   <span class="local">{{ ingresso.local }} </span>
                   <strong> R$ {{ ingresso.preco }}</strong>
                   <button mat-raised-button (click)="removerIngresso(ingresso.id)">EXCLUIR INGRESSO</button>
          
                </p>
            </div>
          </div>
      </div>


    </div>


</div>




<ng-template #semIngressos>

    <p class="empty">Nenhum ingresso reservado, reserve um clicando <a routerLink="/home">aqui.</a></p>
</ng-template>
