

.card {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

}

.card p {
    display: flex;
    flex-direction: column;
}

.card .local {
    font-size: 15px;
    margin-top: 10px;
    
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    font-size: 20px;
}

.empty a {
    color: #067bf0;
    text-decoration: none;
    padding: 10px;
}

.empty a:hover {
    color: #067bf0;
    text-decoration: underline;
}





.container {
    display: flex;
    width: 90%; 
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    
}

.banda {
    font-size: 30px;
    font-weight: bold;
}

strong {
    font-size: 20px;
    margin-top: 10px;
}

button {
    max-width: 200px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}