.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home {
    cursor: pointer;
}