
<h1>Ingressos disponiveis</h1>

  <section>
    <div class="container">
      @for ( ingresso of ingressos; track ingresso ) {
    
    
      <div class="card">
          <p>
            <span class="banda">{{ ingresso.attributes.nome }} </span>
            <strong>{{ ingresso.attributes.data }}</strong>
    
             <span class="local">{{ ingresso.attributes.local }} </span>
             <strong> R$ {{ ingresso.attributes.preco }}</strong>
             <button mat-raised-button (click)="reservarIngresso(ingresso.id)">RESERVAR</button>
    
          </p>
      </div>
      }
    </div>
  </section>
