.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.card p {
    display: flex;
    flex-direction: column;
}

.card local {
    font-size: 10px
}
