

.card {
    width: 300PX;
    max-width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

}

.card p  {
    display: flex;
    font-size: 18px;
    gap: 10px;
    flex-direction: column;
}

.card p .banda {
    font-size: 30px;
    font-weight: bold;
}

.card .local {
    font-size: 15px
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    
}

strong {
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

button {
    max-width: 200px;
    width: 300px;
}
